<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Your OTP Code</title>
  </head>
  <body>
    <h2>Hello <%= username %>,</h2>
    <p>Your OTP code is: <strong><%= otp %></strong></p>
    <p>This code will expire in 5 minutes.</p>
    <p>If you did not request this, please ignore this email.</p>
    <br />
    <p>Thanks,<br />Chat App Team</p>
  </body>
</html>
